@import './normalize.css';

/* -------------- fonts -------------------- */
@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway-italic';
  src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baskerville';
  src: url('./fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baskerville-italic';
  src: url('./fonts/LibreBaskerville-Italic.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

  font-family: 'Baskerville-bold';
  src: url('./fonts/LibreBaskerville-Bold.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

  font-family: 'Roboto-Slab';
  src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
}
@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

  font-family: 'Roboto-Condensed';
  src: url('./fonts/RobotoCondensed-VariableFont_wght.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

  font-family: 'Roboto-Condensed-Italic';
  src: url('./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */

  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto-Black';
  src: url('./fonts/Roboto-Black.ttf');
}
@font-face {
  font-display: auto; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter-Roman';
  src: url('./fonts/Inter-roman.var.woff2');
}

/* ----------------------- colors ----------- */

:root {
  --moonstone: hsla(192, 49%, 50%, 1);
  --moonstone-dark: hsla(192, 49%, 40%, 1);
  --moonstone-slightly-darker: hsla(192, 49%, 45%, 1);
  --moonstone-darker: hsla(192, 49%, 30%, 1);
  --moonstone-light: hsla(192, 49%, 60%, 1);
  --moonstone-superlight: hsla(192, 49%, 97%, 1);
  --jonquil: #f8cf18;
  --jasper: hsla(5, 61%, 53%, 1);
  --amaranth-purple: hsl(351, 52%, 43%);
  --old-rose: hsla(4, 41%, 60%, 1);
  --old-rose-light: hsla(4, 41%, 70%, 1);
  --old-rose-lighter: hsla(4, 41%, 80%, 1);
  --old-rose-superlight: hsla(4, 41%, 90%, 1);
  --old-rose-lighter-dark: hsla(4, 41%, 75%, 1);
  --old-rose-light-less-sat: hsl(4, 20%, 93%);
  --old-rose-light-less-sat-darker: hsl(4, 23%, 80%);
  --old-rose-darker: hsla(4, 41%, 55%, 1);

  --primary: var(--moonstone);
  --secondary: var(--old-rose);
  --secondary-light: var(--old-rose-light);
  --secondary-lighter: var(--old-rose-lighter);
  --primary-darker: var(--moonstone-dark);
  --primary-darker-less-sat: hsla(192, 25%, 30%, 1);
  --primary-slighty-darker: var(--moonstone-slightly-darker);
  --primary-darker-dark: hsl(193, 82%, 31%);
  --primary-darker-dark-slighty-darker: hsl(193, 82%, 29%);
  --primary-darkest: hsl(193, 82%, 27%);
  --primary-lighter: var(--moonstone-light);
  --primary-superlight: var(--moonstone-superlight);

  --accent: var(--jonquil);
  --alert: var(--jasper);
  --alert-dark: var(--amaranth-purple);
  --dark: var(--moonstone-dark);

  --hover-shadow: rgba(0, 0, 0, 0.404);
  --background-clr: rgb(255, 255, 255);
  --text: black;
  --text-off: rgb(29, 29, 29);
  --text-on-dark: hsl(0, 0%, 96%);
  --text-on-dark-off: rgb(223, 223, 223);
  --text-inactive: rgb(82, 82, 82);
  --text-header: var(--dark);
  --positive: #52db40;
  --card-background: hsl(4, 15%, 93%);
  --card-background-hover: hsla(192, 30%, 80%, 1);
  /* --card-background-alt: hsl(4, 30%, 93%);
  --card-background-alt-hover: hsla(192, 30%, 90%, 1); */
  --card-shadow: hsl(0, 0%, 82%);
  --nav-background: var(--old-rose-lighter);
  --nav-border: var(--old-rose-lighter);

  --nav-text: var(--text);
  --nav-text-hover: var(--primary-darkest);
  --cat-card-background: var(--primary);
  --cat-card-background-hover: var(--primary-darker);
  --cat-card-text: hsl(0, 0%, 96%);
  --hover-label-bg: rgb(255, 255, 255);
  --hover-label-bg-on-background: rgb(255, 255, 255);
  --logo-bg: var(--old-rose-light);
  --logo-bg-hover: var(--primary);
  --burger-bg: var(--alert-dark);
  --darkmode-icon: var(--alert-dark);
  --inline-button-text: var(--primary-darker);
  --burger-icons: var(--old-rose);
  --burger-icons-hover: var(--primary-darker);
  --cat-avatar-dummy: var(--background-clr);
  --selection-bg: var(--primary-darker);
  --background-cat-avatar: hsl(4, 13%, 87%);
  --background-cat-avatar: radial-gradient(
    hsl(4, 13%, 87%) 65%,
    hsla(4, 41%, 77%, 1) 70%,
    hsla(4, 41%, 60%, 1) 90%
  );
  --tooltip-background: var(--nav-background);
  --tooltip-border: var(--nav-border);
  --chip-background: var(--old-rose-lighter);
  --background-catdata-card: var(--background-clr);
  --border-catdata-card: var(--primary-lighter);
  --underline-inactive-menu: #e5e7eb;
  --background-card-message: hsl(4, 15%, 93%);
  --connection-icon-on-dialog: var(--primary-darker);
  --nav-underline: var(--old-rose-lighter);
  --nav-underline-hover: var(--primary);
  --todo-card-background-hover: var(--primary-slighty-darker);
}

/* ----colors for calendar----- */
.vc-primary {
  --vc-accent-50: hsl(192, 100%, 97%);
  --vc-accent-100: hsl(192, 94%, 94%);
  --vc-accent-200: hsl(192, 94%, 86%);
  --vc-accent-300: hsl(192, 95%, 74%);
  --vc-accent-400: hsl(192, 93%, 60%);
  --vc-accent-500: hsl(192, 49%, 50%);
  --vc-accent-600: hsl(192, 98%, 39%);
  --vc-accent-700: hsl(192, 96%, 32%);
  --vc-accent-800: hsl(192, 90%, 27%);
  --vc-accent-900: hsl(192, 80%, 24%);
}
.vc-rose {
  --vc-accent-50: hsl(4, 100%, 97%);
  --vc-accent-100: hsl(4, 94%, 94%);
  --vc-accent-200: hsl(4, 94%, 86%);
  --vc-accent-300: hsl(4, 95%, 74%);
  --vc-accent-400: hsl(4, 93%, 60%);
  --vc-accent-500: hsl(4, 49%, 50%);
  --vc-accent-600: hsl(4, 98%, 39%);
  --vc-accent-700: hsl(4, 96%, 32%);
  --vc-accent-800: hsl(4, 90%, 27%);
  --vc-accent-900: hsl(4, 80%, 24%);
}

/* .vc-pane .vs-pane-layout .vc-pane-header-wrapper {
  border-radius: var(--border-radius);
} */
.vc-pane-container {
  box-shadow: 0 0 4px 2px var(--card-shadow);
  border-radius: var(--border-radius);
  font-family: 'Roboto-Medium';
}

.vc-header {
  font-family: 'Roboto-Slab';
  margin-bottom: 0.5rem;
}

.vc-dark {
  --vc-bg: var(--card-background);
  --vc-border: var(--card-background-hover);
  --vc-time-picker-border: var(--card-background-hover);
  --vc-popover-content-bg: var(--nav-background);
}

.vc-light {
  --vc-bg: var(--card-background);
  --vc-popover-content-bg: var(--nav-background);
  --vc-popover-content-color: var(--text);
  --vc-day-popover-header-color: var(--text);
}

.vc-popover-content {
  padding: 1rem;
}
.vc-day-popover-header {
  font-family: 'Roboto-Slab';
  --vc-text-xs: 1rem;
  margin-bottom: 0.25rem;
}
.vc-day-popover-row {
  font-family: 'Raleway';
  margin-top: 0.5rem;
  --vc-text-xs: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70vw;
  max-height: 50vh;
}
.vc-light .vc-title,
.vc-light .vc-arrow {
  background-color: var(--background-clr);
}

.vc-time-picker {
  padding-block: 1rem;
}
.vc-dark .vc-title-wrapper {
  background-color: var(--card-background);
}

.vc-dark .vc-title-wrapper .vc-title {
  background-color: var(--cat-card-background-hover);
}
.vc-title-wrapper .vc-title span {
  font-size: 1.1rem;
  line-height: 30px;
}

.vc-dark .vc-arrow {
  background-color: var(--cat-card-background-hover);
}
.vc-pane-container .button-add-todo {
  margin-inline: 10px;
  margin-bottom: 10px;
}
/* ------------------- */

* {
  --border-radius: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--text);
  text-underline-offset: 3px;
}

html {
  font-size: 14px;
  --url-logo-grey: '';
  --url-logo-color: '';
}
/* p,
span {
  font-size: 0.9rem;
} */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Raleway';
  background-color: var(--background-clr);
  color: var(--text);
  margin: 0;
}
*::selection {
  color: hsl(0, 0%, 96%);
  background-color: var(--selection-bg);
}

.no-selection {
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.p-button,
.p-menuitem-text {
  font-weight: 500;
}
.p-button {
  font-family: 'Inter-Roman';
}
.p-button-label {
  font-weight: 400;
}
.p-menuitem-text {
  letter-spacing: -0.125px;

  font-family: 'Roboto-Medium';
}

.p-multiselect-label,
.p-multiselect-item,
.p-dropdown-label,
.p-dropdown-item {
  font-family: 'Roboto-Regular';
  font-size: 1.01rem;
}

.p-dialog-title {
  font-size: 1.125rem;
  font-family: 'Roboto-Regular';
}

.p-dialog-content {
  font-size: 1rem;
  font-family: 'Roboto-light';
}
.dialog-header {
  font-size: 1.125rem;
  font-family: 'Roboto-Regular';
}
.dialog-text {
  font-size: 1rem;
  font-family: 'Roboto-light';
}
/* .p-tabmenu {
  width: 100%;
}
.p-tabmenu-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
} */
.p-menuitem-text {
  /* font-family: 'Roboto-Slab'; */
  font-size: 1rem;
  /* letter-spacing: 0.25px; */
  color: var(--text-inactive);
}

.p-highlight .p-menuitem-text {
  color: var(--text);
}

/* .todo-card-datepicker .p-button {
  background-color: var(--primary-darker);
  /* border-color: var(--primary-darker); 
} */

.darkmode {
  --hover-shadow: rgba(0, 0, 0, 0.568);
  /* --background-clr: rgb(31, 31, 31); */
  --background-clr: hsl(0, 2%, 10%);
  --text: hsl(0, 0%, 96%);
  --text-off: hsl(0, 0%, 77%);
  --text-on-dark: rgb(0, 0, 0);
  --text-on-dark-off: rgb(37, 37, 37);

  /* --card-background: hsl(0, 2%, 7%); */
  --card-background: hsl(0, 0%, 17%);
  --card-shadow: hsl(0, 0%, 8.5%);
  /* --nav-background: #1f2e37; */
  /* --nav-background: hsla(192, 49%, 17%, 1);  */
  /* --nav-background: hsl(4, 7%, 15%);  */
  --nav-background: hsl(205, 20%, 17%);
  --nav-border: var(--primary);

  --nav-text: var(--text);
  --nav-text-hover: var(--primary-lighter);
  --cat-card-background: var(--primary-darker-dark);
  --cat-card-background-hover: var(--primary-darkest);
  --hover-label-bg: linear-gradient(hsl(205, 20%, 17%) 55%, hsl(192, 10%, 11%));
  --hover-label-bg-on-background: linear-gradient(hsl(0, 2%, 10%) 55%, hsl(192, 10%, 11%));
  --logo-bg: var(--old-rose);
  --logo-bg-hover: var(--primary);
  --burger-bg: var(--old-rose);
  --darkmode-icon: var(--old-rose);
  --card-background-hover: hsl(0, 2%, 15%);
  --inline-button-text: var(--primary);
  --burger-icons: var(--old-rose);
  --burger-icons-hover: var(--primary);
  --cat-avatar-dummy: var(--old-rose-light-less-sat);
  --selection-bg: var(--primary-darker-dark);
  --background-cat-avatar: radial-gradient(
    hsl(4, 7%, 20%) 65%,
    hsla(4, 35%, 55%, 1) 70%,
    hsla(4, 41%, 57%, 1) 90%
  );
  --tooltip-background: var(--nav-background);
  --tooltip-border: var(--nav-border);
  --chip-background: var(--primary-darker-dark);
  --background-catdata-card: var(--background-clr);
  --border-catdata-card: var(--primary-darker-dark);
  --text-inactive: rgb(189, 189, 189);
  --underline-inactive-menu: #424b57;
  --background-card-message: hsl(192, 10%, 11%);
  --connection-icon-on-dialog: var(--text);
  --nav-underline: var(--old-rose-lighter-dark);
  --nav-underline-hover: var(--primary);
  --todo-card-background-hover: var(--primary-darker-dark-slighty-darker);
}
h1,
h2 {
  font-family: 'Roboto-Slab';
  letter-spacing: -0.25px;
  font-weight: 500;
}

h1 {
  font-size: 1.75rem;
  color: var(--text-dark);
}
p {
  line-height: 1.5rem;
}

.content-wrapper {
  padding-top: 3rem;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 11px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  .content-wrapper {
    padding-top: 5rem;
  }
}

/* 
button,
input[type='submit'] {
  border: 0px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.459);
  border-radius: var(--border-radius);
  transition: all 200ms ease;
  font-weight: 500;
  padding: 0.5rem;
  padding-inline: 1rem;
  font-family: 'Roboto-Slab';
  background-color: var(--primary);
  color: black;
}

button:hover,
input[type='submit']:hover {
  background-color: var(--primary-lighter);
  color: var(--text-off);
}
button:active,
input[type='submit']:active {
  background-color: var(--primary-darker);
  color: var(--text-off);
} */
